<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>AngularJS Style Guide Explorer</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/angularjs-styleguide-explorer.css">

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
	<script src="js/angularjs-styleguide-explorer.min.js"></script>

	<script type="text/ng-template" id="partials/home.html">
		<div show-section-preview preview-section-model="previewSection" ng-show="getPreviewSection()"></div>
		<div class="instructions" ng-hide="getPreviewSection()">
			<h2>Hello!</h2>

			Using the style explorer is easy. Mouse-over the sections on the left to see what they contain.
			Click on
			any section to drill-down to that section.
		</div>
	</script>

	<script type="text/ng-template" id="partials/details.html">
		<div show-section-preview preview-section-model="previewSection" ng-show="getDetailPreviewSection()"></div>

		<div class="detail" ng-hide="getDetailPreviewSection()">
			<h2>{{section.title}}</h2>

			<div class="detail-notes" ng-show="section.notes">{{section.notes}}</div>
			<section class="detail-section" ng-repeat="toc_h3 in section.toc_h3">
				<div class="title">
					{{toc_h3.title}}
				</div>
				<div class="detail-notes" ng-show="toc_h3.text">
					<span ng-repeat="text in toc_h3.text track by $index">{{text}}</span>
				</div>

				<ul>
					<li ng-repeat="toc_h5 in toc_h3.toc_h5">
						<div class="style_name">Style: {{toc_h5.style_name}}</div>
						<ul>
							<li ng-repeat="rule in toc_h5.section.rules">
								<div class="note"><span></span> {{rule}}</div>
							</li>
						</ul>
						<ul class="why">
							<li ng-repeat="why in toc_h5.section.whys">
								<span class="why">Why</span>

								<div class="why">{{why}}</div>
							</li>
						</ul>

						<div class="text" ng-repeat="txt in toc_h5.section.text_lines track by $index">
							<div>
								{{txt}}
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>

	</script>
</head>

<body>
<div class="app">
	<div class="attrib"> Based entirely on John Papa's <a href="">AngularJS Style Guide</a>.</div>

	<header>
		<p>AngularJs Style Guide Explorer</p>

		<div>A quick and simple way to explore and navigate the guide</div>
		<div class="version">0.0.6</div>
	</header>

	<div class="app-content">
		<section class="main-nav" ng-controller="SectionsController as secs">
			<!--<ul>-->
			<ul ng-mouseleave="clearPreviewSection()">
				<li ng-repeat="section in secs.sections" ng-mouseenter="setPreviewSection(section)">
					<a href="#/details/{{section.url}}">{{section.title}}</a>
				</li>
			</ul>
		</section>

		<section class="main">
			<div class="content">
				<div class="view-container">
					<div ng-view class="view-frame"></div>
				</div>
			</div>
		</section>
	</div>
</div>
</body>
</html>
